@import "palette";

/* Vars ----------------------------------------------------*/



/* Mixins ----------------------------------------------------*/

/* Colors and backgrounds  ----------------------------------------------------*/

body {
  color: #656360;
  background: #f1ede8 url(../img/noise-all.png);

  a:hover {
    color: $lightblue;
  }
}

a {
  color: $blue;
}

header, footer {
  // background: #2d2d2d;
  background: url("../img/bg/header-footer.png");
}

/* Selection colours (easy to forget) */

::selection, ::-moz-selection {
  background: $text-select;
}

img {
  &::selection, &::-moz-selection {
    background: $text-select;
  }
}

body {
  -webkit-tap-highlight-color: $blue;
}

#headline, .masthead {
  color: #444444;
}

/* NAVIGATION ------------------------------------------------------------*/

#nav {
  > li {
    > a {
      padding: {
        left: 5px;
        right: 5px;
      }

      font-weight: bold;

      &:hover {
        background-color: transparentize($lightblue, .9);
      }
    }

    &:hover > a {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  span:hover {
    -webkit-transform: translate(-10px, -3px);
    -moz-transform: translate(-10px, -3px);
    -o-transform: translate(-10px, -3px);
    transform: translate(-10px, -3px);
  }

  > li {
    &.current-menu-item > a, &.current_page_item > a {
      border-top: 3px solid $blue;
    }
  }

  .sfHover ul {
    background: #f8f5f2;
    li a {
      color: #444444;
      &:hover {
        background: rgba(0, 0, 0, 0.8);
        color: $blue;
      }
    }
  }
}

/* MAIN ------------------------------------------------------------*/

.multiplebgs #main {
  background-image: url(../img/main-bg.png), url(../img/main-bg.png);
  background-repeat: repeat-x, repeat-x;
  background-position: bottom left, top left;
}

.no-multiplebgs #main {
  background: #f1f1f1 url(../img/main-bg.png) repeat-x top left;
}

/* FILTERED ITEMS ----------------------------------------------------*/

.filter-buttons li {
  a {
    color: #444;
    border-bottom: 2px solid transparent;
    &:hover, &.selected {
      border-bottom: 2px solid #444444;
    }
  }
  &.current a {
    border-bottom: 2px solid #444444;
  }
}

#filter-container figure {
  background: #f8f5f2;
  .thumb {
    background: $blue url(../img/icon-link.png) center center no-repeat;
  }
  figcaption .heading, .readmore {
    color: #444444;
    &:hover {
      color: $blue;
    }
  }
}

/* PORTFOLIO ----------------------------------------------------*/

#portfolio-content {
  #filter-container a {
    color: #888;
    &:hover {
      color: $blue;
    }
  }
  .project-pager a {
    color: #444444;
    &:hover {
      color: $blue;
    }
  }
  #project-box {
    background: #f8f5f2;
    .info .launch:hover {
      color: #f1f1f1;
      background: $blue;
    }
  }
}

/* RELATED PROJECTS ---------------------------------------------------*/

.related-projects figure {
  .heading {
    color: #444444;
    &:hover {
      color: $blue;
    }
  }

  .thumb {
    background: $blue url(../img/icon-link.png) no-repeat center center;
  }
}

/* CONTACT  ----------------------------------------------------*/

#map-holder {
  background: #f8f5f2;
}

/* BLOG ------------------------------------------------------------*/

#posts-list article {
  .box {
    background: #f8f5f2 url(../img/meta-bg.png) repeat-y top right;
    .entry-date {
      color: #dcd2be;
      background: #2d2d2d;
    }

    .excerpt {
      .post-heading {
        color: #444444;
        &:hover {
          color: $blue;
        }
      }

      .learnmore {
        background: #2d2d2d;
        color: #f8f5f2;
        &:hover {
          background: $blue;
        }
      }
    }

    .meta a {
      color: #656360;
      &:hover {
        color: $blue;
      }
    }
  }
  &.format-standard .feature-image {
    background: $blue url(../img/icon-link.png) no-repeat center center;
  }
  &.format-image .feature-image {
    background: $blue url(../img/icon-popup.png) no-repeat center center;
  }
}

body.single #posts-list {
  article {
    background: #f8f5f2;
  }
  .box .meta {
    background: #f8f5f2 url(../img/meta-bg-vertical.png) repeat-x top right;
  }
}

/* PAGE NAVIGATION ------------------------------------------------------------*/

#main .page-navigation a {
  color: #444444;
  &:hover {
    color: $blue;
  }
}

/* SIDEBAR ------------------------------------------------------------*/

#sidebar {
  .cat-item a .post-counter, .page_item a .post-counter {
    color: #656360;
  }
}

/* SLIDER ----------------------------------------------------*/

.lof-slidecontent {
  .slider-description {
    color: #e6e6e6;
    a {
      color: #FFF;
      &.readmore {
        color: #fcb019;
      }
    }
  }
  .active {
    border-top: 3px $blue solid;
  }
}

/* FOOTER ----------------------------------------------------*/

footer {
  color: #dcd2be;
  h4 {
    color: #fff;
  }
  a {
    color: $blue;
    &:hover {
      color: #fff;
    }
  }
}
