/*** ESSENTIAL STYLES ***/

.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    position: absolute;
    top: -999em;
    width: 10em;
    /* left offset of submenus need to match (see below) */
    li {
      width: 100%;
    }
  }
  li {
    &:hover {
      visibility: inherit;
      /* fixes IE7 'sticky bug' */
    }
    float: left;
    position: relative;
  }
  a {
    display: block;
    position: relative;
  }
  li {
    &:hover ul, &.sfHover ul {
      left: 0;
      top: 2.5em;
      /* match top ul list item height */
      z-index: 99;
    }
  }
}

ul.sf-menu li {
  &:hover li ul, &.sfHover li ul {
    top: -999em;
  }
  li {
    &:hover ul, &.sfHover ul {
      left: 10em;
      /* match ul width */
      top: 0;
    }
    &:hover li ul, &.sfHover li ul {
      top: -999em;
    }
    li {
      &:hover ul, &.sfHover ul {
        left: 10em;
        /* match ul width */
        top: 0;
      }
    }
  }
}
